@import "tailwindcss";

body {
  background-color: #1c1c1c; /* Tailwind bg-gray-900 */
  color: #ffffff; /* Tailwind text-white */
}

:root {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-[#111111] text-white antialiased;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75, 85, 99) transparent;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75, 85, 99);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107, 114, 128);
}